--
-- PostgreSQL database dump
--

\restrict cWjKkF44N3rywCthD0ES2ypO3CMt3TyYcRaJTrIjVdkeX2nzObp9Jm9zpqe3cSt

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ai_message_role_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.ai_message_role_enum AS ENUM (
    'user',
    'assistant',
    'system'
);


ALTER TYPE public.ai_message_role_enum OWNER TO nevark;

--
-- Name: attendance_status_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.attendance_status_enum AS ENUM (
    'present',
    'absent',
    'late',
    'half_day',
    'on_leave'
);


ALTER TYPE public.attendance_status_enum OWNER TO nevark;

--
-- Name: audit_action_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.audit_action_enum AS ENUM (
    'create',
    'read',
    'update',
    'delete'
);


ALTER TYPE public.audit_action_enum OWNER TO nevark;

--
-- Name: contract_status_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.contract_status_enum AS ENUM (
    'draft',
    'active',
    'expired',
    'terminated'
);


ALTER TYPE public.contract_status_enum OWNER TO nevark;

--
-- Name: employment_type_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.employment_type_enum AS ENUM (
    'full_time',
    'part_time',
    'contract',
    'intern'
);


ALTER TYPE public.employment_type_enum OWNER TO nevark;

--
-- Name: expense_category_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.expense_category_enum AS ENUM (
    'travel',
    'accommodation',
    'meals',
    'office_supplies',
    'software',
    'hardware',
    'marketing',
    'other'
);


ALTER TYPE public.expense_category_enum OWNER TO nevark;

--
-- Name: expense_status_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.expense_status_enum AS ENUM (
    'pending',
    'approved',
    'rejected',
    'reimbursed'
);


ALTER TYPE public.expense_status_enum OWNER TO nevark;

--
-- Name: invoice_status_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.invoice_status_enum AS ENUM (
    'draft',
    'sent',
    'partial',
    'paid',
    'overdue',
    'cancelled'
);


ALTER TYPE public.invoice_status_enum OWNER TO nevark;

--
-- Name: leave_status_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.leave_status_enum AS ENUM (
    'pending',
    'approved',
    'rejected',
    'cancelled'
);


ALTER TYPE public.leave_status_enum OWNER TO nevark;

--
-- Name: leave_type_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.leave_type_enum AS ENUM (
    'annual',
    'sick',
    'casual',
    'maternity',
    'paternity',
    'unpaid'
);


ALTER TYPE public.leave_type_enum OWNER TO nevark;

--
-- Name: milestone_status_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.milestone_status_enum AS ENUM (
    'pending',
    'completed',
    'missed'
);


ALTER TYPE public.milestone_status_enum OWNER TO nevark;

--
-- Name: payment_method_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.payment_method_enum AS ENUM (
    'bank_transfer',
    'credit_card',
    'cash',
    'cheque',
    'online'
);


ALTER TYPE public.payment_method_enum OWNER TO nevark;

--
-- Name: payment_status_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.payment_status_enum AS ENUM (
    'pending',
    'completed',
    'failed',
    'refunded'
);


ALTER TYPE public.payment_status_enum OWNER TO nevark;

--
-- Name: po_status_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.po_status_enum AS ENUM (
    'draft',
    'submitted',
    'approved',
    'delivered',
    'cancelled'
);


ALTER TYPE public.po_status_enum OWNER TO nevark;

--
-- Name: priority_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.priority_enum AS ENUM (
    'low',
    'medium',
    'high',
    'critical'
);


ALTER TYPE public.priority_enum OWNER TO nevark;

--
-- Name: product_category_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.product_category_enum AS ENUM (
    'technologies',
    'fashion_boutiques',
    'logistics',
    'foods',
    'systems'
);


ALTER TYPE public.product_category_enum OWNER TO nevark;

--
-- Name: product_status_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.product_status_enum AS ENUM (
    'active',
    'inactive',
    'discontinued',
    'upcoming',
    'beta'
);


ALTER TYPE public.product_status_enum OWNER TO nevark;

--
-- Name: product_stream_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.product_stream_enum AS ENUM (
    'b2b',
    'b2c',
    'saas',
    'marketplace',
    'services',
    'other'
);


ALTER TYPE public.product_stream_enum OWNER TO nevark;

--
-- Name: project_status_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.project_status_enum AS ENUM (
    'planning',
    'active',
    'on_hold',
    'completed',
    'cancelled'
);


ALTER TYPE public.project_status_enum OWNER TO nevark;

--
-- Name: risk_level_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.risk_level_enum AS ENUM (
    'low',
    'medium',
    'high',
    'critical'
);


ALTER TYPE public.risk_level_enum OWNER TO nevark;

--
-- Name: risk_probability_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.risk_probability_enum AS ENUM (
    'low',
    'medium',
    'high'
);


ALTER TYPE public.risk_probability_enum OWNER TO nevark;

--
-- Name: risk_severity_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.risk_severity_enum AS ENUM (
    'low',
    'medium',
    'high',
    'critical'
);


ALTER TYPE public.risk_severity_enum OWNER TO nevark;

--
-- Name: risk_status_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.risk_status_enum AS ENUM (
    'identified',
    'mitigating',
    'resolved',
    'accepted'
);


ALTER TYPE public.risk_status_enum OWNER TO nevark;

--
-- Name: task_status_enum; Type: TYPE; Schema: public; Owner: nevark
--

CREATE TYPE public.task_status_enum AS ENUM (
    'todo',
    'in_progress',
    'in_review',
    'done',
    'blocked'
);


ALTER TYPE public.task_status_enum OWNER TO nevark;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.activity_logs (
    id uuid NOT NULL,
    user_id uuid,
    action character varying(100) NOT NULL,
    description text,
    module character varying(100) NOT NULL,
    metadata jsonb,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.activity_logs OWNER TO nevark;

--
-- Name: ai_chat_messages; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.ai_chat_messages (
    id uuid NOT NULL,
    session_id uuid NOT NULL,
    role public.ai_message_role_enum NOT NULL,
    content text NOT NULL,
    tokens_used integer,
    metadata jsonb,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.ai_chat_messages OWNER TO nevark;

--
-- Name: ai_chat_sessions; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.ai_chat_sessions (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    title character varying(500),
    context jsonb,
    total_tokens integer DEFAULT 0 NOT NULL,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.ai_chat_sessions OWNER TO nevark;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO nevark;

--
-- Name: attendance; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.attendance (
    id uuid NOT NULL,
    employee_id uuid NOT NULL,
    date date NOT NULL,
    check_in timestamp with time zone,
    check_out timestamp with time zone,
    status public.attendance_status_enum NOT NULL,
    work_hours numeric(5,2),
    notes text,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.attendance OWNER TO nevark;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.audit_logs (
    id uuid NOT NULL,
    user_id uuid,
    action public.audit_action_enum NOT NULL,
    table_name character varying(100) NOT NULL,
    record_id uuid,
    old_values jsonb,
    new_values jsonb,
    ip_address character varying(45),
    user_agent character varying(500),
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.audit_logs OWNER TO nevark;

--
-- Name: client_contacts; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.client_contacts (
    id uuid NOT NULL,
    client_id uuid NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(255),
    phone character varying(20),
    designation character varying(100),
    is_primary boolean NOT NULL,
    notes text,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.client_contacts OWNER TO nevark;

--
-- Name: clients; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.clients (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    industry character varying(100),
    website character varying(255),
    email character varying(255),
    phone character varying(20),
    address text,
    city character varying(100),
    country character varying(100),
    tax_id character varying(50),
    notes text,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.clients OWNER TO nevark;

--
-- Name: contract_risks; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.contract_risks (
    id uuid NOT NULL,
    contract_id uuid NOT NULL,
    title character varying(500) NOT NULL,
    description text,
    severity public.risk_severity_enum NOT NULL,
    probability public.risk_probability_enum NOT NULL,
    mitigation text,
    status public.risk_status_enum DEFAULT 'identified'::public.risk_status_enum NOT NULL,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.contract_risks OWNER TO nevark;

--
-- Name: contracts; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.contracts (
    id uuid NOT NULL,
    client_id uuid NOT NULL,
    project_id uuid,
    title character varying(500) NOT NULL,
    contract_number character varying(50) NOT NULL,
    status public.contract_status_enum DEFAULT 'draft'::public.contract_status_enum NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    value numeric(15,2) NOT NULL,
    currency character varying(3) DEFAULT 'USD'::character varying NOT NULL,
    description text,
    terms text,
    document_url character varying(500),
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.contracts OWNER TO nevark;

--
-- Name: departments; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.departments (
    id uuid NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    parent_id uuid,
    manager_id uuid,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.departments OWNER TO nevark;

--
-- Name: document_categories; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.document_categories (
    id uuid NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    parent_id uuid,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.document_categories OWNER TO nevark;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.documents (
    id uuid NOT NULL,
    category_id uuid,
    uploaded_by uuid NOT NULL,
    title character varying(500) NOT NULL,
    description text,
    file_path character varying(1000) NOT NULL,
    file_name character varying(500) NOT NULL,
    file_size bigint,
    mime_type character varying(100),
    related_type character varying(50),
    related_id uuid,
    version bigint DEFAULT '1'::bigint NOT NULL,
    tags character varying(500),
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.documents OWNER TO nevark;

--
-- Name: employees; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.employees (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    department_id uuid,
    employee_code character varying(50) NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    job_title character varying(200),
    employment_type public.employment_type_enum NOT NULL,
    hire_date date NOT NULL,
    termination_date date,
    phone character varying(20),
    address text,
    emergency_contact_name character varying(200),
    emergency_contact_phone character varying(20),
    salary numeric(15,2),
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.employees OWNER TO nevark;

--
-- Name: expenses; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.expenses (
    id uuid NOT NULL,
    project_id uuid,
    employee_id uuid NOT NULL,
    approved_by uuid,
    category public.expense_category_enum NOT NULL,
    amount numeric(15,2) NOT NULL,
    currency character varying(3) DEFAULT 'USD'::character varying NOT NULL,
    date date NOT NULL,
    description text,
    receipt_url character varying(500),
    status public.expense_status_enum DEFAULT 'pending'::public.expense_status_enum NOT NULL,
    rejection_reason text,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.expenses OWNER TO nevark;

--
-- Name: finance_settings; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.finance_settings (
    id uuid NOT NULL,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid,
    company_name character varying(255),
    company_address text,
    company_email character varying(255),
    company_phone character varying(20),
    pan character varying(10),
    company_gstin character varying(20),
    state_code character varying(5),
    cgst_rate numeric(5,2) DEFAULT '9'::numeric NOT NULL,
    sgst_rate numeric(5,2) DEFAULT '9'::numeric NOT NULL,
    igst_rate numeric(5,2) DEFAULT '18'::numeric NOT NULL,
    bank_name character varying(255),
    bank_account character varying(50),
    bank_ifsc character varying(20),
    bank_branch character varying(255),
    invoice_prefix character varying(10) DEFAULT 'NVK'::character varying NOT NULL,
    default_sac character varying(20) DEFAULT '998314'::character varying NOT NULL,
    payment_terms integer DEFAULT 30 NOT NULL,
    default_currency character varying(3) DEFAULT 'INR'::character varying NOT NULL
);


ALTER TABLE public.finance_settings OWNER TO nevark;

--
-- Name: invoice_items; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.invoice_items (
    id uuid NOT NULL,
    invoice_id uuid NOT NULL,
    description character varying(500) NOT NULL,
    quantity numeric(10,2) NOT NULL,
    unit_price numeric(15,2) NOT NULL,
    amount numeric(15,2) NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.invoice_items OWNER TO nevark;

--
-- Name: invoices; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.invoices (
    id uuid NOT NULL,
    client_id uuid NOT NULL,
    project_id uuid,
    invoice_number character varying(50) NOT NULL,
    status public.invoice_status_enum DEFAULT 'draft'::public.invoice_status_enum NOT NULL,
    issue_date date NOT NULL,
    due_date date NOT NULL,
    subtotal numeric(15,2) NOT NULL,
    tax_rate numeric(5,2) DEFAULT '0'::numeric NOT NULL,
    tax_amount numeric(15,2) DEFAULT '0'::numeric NOT NULL,
    discount_amount numeric(15,2) DEFAULT '0'::numeric NOT NULL,
    total_amount numeric(15,2) NOT NULL,
    paid_amount numeric(15,2) DEFAULT '0'::numeric NOT NULL,
    currency character varying(3) DEFAULT 'USD'::character varying NOT NULL,
    notes text,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid,
    cgst_rate numeric(5,2),
    sgst_rate numeric(5,2),
    igst_rate numeric(5,2),
    cgst_amount numeric(15,2),
    sgst_amount numeric(15,2),
    igst_amount numeric(15,2),
    place_of_supply character varying(100),
    gstin character varying(20)
);


ALTER TABLE public.invoices OWNER TO nevark;

--
-- Name: leave_requests; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.leave_requests (
    id uuid NOT NULL,
    employee_id uuid NOT NULL,
    approved_by uuid,
    leave_type public.leave_type_enum NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    days numeric(5,1) NOT NULL,
    reason text,
    status public.leave_status_enum DEFAULT 'pending'::public.leave_status_enum NOT NULL,
    rejection_reason text,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.leave_requests OWNER TO nevark;

--
-- Name: milestones; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.milestones (
    id uuid NOT NULL,
    project_id uuid NOT NULL,
    title character varying(500) NOT NULL,
    description text,
    due_date date NOT NULL,
    completed_at date,
    status public.milestone_status_enum DEFAULT 'pending'::public.milestone_status_enum NOT NULL,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.milestones OWNER TO nevark;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.notifications (
    id uuid NOT NULL,
    recipient_id uuid,
    title character varying(255) NOT NULL,
    entity_type character varying(50) NOT NULL,
    entity_id uuid,
    is_read boolean NOT NULL,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid,
    body text,
    CONSTRAINT ck_notifications_entity_type CHECK (((entity_type)::text = ANY ((ARRAY['task'::character varying, 'project'::character varying, 'finance'::character varying, 'document'::character varying, 'employee'::character varying, 'system'::character varying, 'leave'::character varying])::text[])))
);


ALTER TABLE public.notifications OWNER TO nevark;

--
-- Name: payment_risk_predictions; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.payment_risk_predictions (
    id uuid NOT NULL,
    invoice_id uuid NOT NULL,
    risk_score numeric(5,4) NOT NULL,
    risk_level public.risk_level_enum NOT NULL,
    predicted_delay_days integer,
    factors jsonb,
    model_version character varying(50) NOT NULL,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.payment_risk_predictions OWNER TO nevark;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.payments (
    id uuid NOT NULL,
    invoice_id uuid NOT NULL,
    amount numeric(15,2) NOT NULL,
    payment_date date NOT NULL,
    payment_method public.payment_method_enum NOT NULL,
    reference character varying(255),
    status public.payment_status_enum DEFAULT 'pending'::public.payment_status_enum NOT NULL,
    notes text,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.payments OWNER TO nevark;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.permissions (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    codename character varying(100) NOT NULL,
    module character varying(100) NOT NULL,
    description character varying(500),
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.permissions OWNER TO nevark;

--
-- Name: po_items; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.po_items (
    id uuid NOT NULL,
    po_id uuid NOT NULL,
    description character varying(500) NOT NULL,
    quantity numeric(10,2) NOT NULL,
    unit_price numeric(15,2) NOT NULL,
    amount numeric(15,2) NOT NULL,
    unit character varying(50),
    sort_order integer DEFAULT 0 NOT NULL,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.po_items OWNER TO nevark;

--
-- Name: products; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.products (
    id uuid NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid,
    name character varying(255) NOT NULL,
    product_code character varying(100) NOT NULL,
    category public.product_category_enum NOT NULL,
    stream public.product_stream_enum NOT NULL,
    status public.product_status_enum DEFAULT 'active'::public.product_status_enum NOT NULL,
    description text,
    launch_date date,
    revenue_generated numeric(18,2),
    units_sold bigint,
    active_units bigint,
    total_customers bigint,
    product_owner_id uuid
);


ALTER TABLE public.products OWNER TO nevark;

--
-- Name: project_assignments; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.project_assignments (
    id uuid NOT NULL,
    project_id uuid NOT NULL,
    employee_id uuid NOT NULL,
    role character varying(100),
    assigned_at timestamp with time zone NOT NULL,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.project_assignments OWNER TO nevark;

--
-- Name: project_delay_predictions; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.project_delay_predictions (
    id uuid NOT NULL,
    project_id uuid NOT NULL,
    risk_score numeric(5,4) NOT NULL,
    risk_level public.risk_level_enum NOT NULL,
    predicted_delay_days integer,
    factors jsonb,
    model_version character varying(50) NOT NULL,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.project_delay_predictions OWNER TO nevark;

--
-- Name: project_tasks; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.project_tasks (
    id uuid NOT NULL,
    project_id uuid NOT NULL,
    parent_id uuid,
    assignee_id uuid,
    title character varying(500) NOT NULL,
    description text,
    status public.task_status_enum DEFAULT 'todo'::public.task_status_enum NOT NULL,
    priority public.priority_enum DEFAULT 'medium'::public.priority_enum NOT NULL,
    due_date date,
    estimated_hours numeric(8,2),
    actual_hours numeric(8,2),
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.project_tasks OWNER TO nevark;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.projects (
    id uuid NOT NULL,
    client_id uuid,
    name character varying(255) NOT NULL,
    code character varying(50) NOT NULL,
    description text,
    status public.project_status_enum DEFAULT 'planning'::public.project_status_enum NOT NULL,
    priority public.priority_enum DEFAULT 'medium'::public.priority_enum NOT NULL,
    start_date date,
    end_date date,
    actual_end_date date,
    budget numeric(15,2),
    currency character varying(3) DEFAULT 'USD'::character varying NOT NULL,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.projects OWNER TO nevark;

--
-- Name: purchase_orders; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.purchase_orders (
    id uuid NOT NULL,
    po_number character varying(50) NOT NULL,
    vendor_name character varying(255) NOT NULL,
    vendor_email character varying(255),
    vendor_phone character varying(20),
    status public.po_status_enum DEFAULT 'draft'::public.po_status_enum NOT NULL,
    order_date date NOT NULL,
    expected_delivery date,
    actual_delivery date,
    subtotal numeric(15,2) NOT NULL,
    tax_amount numeric(15,2) DEFAULT '0'::numeric NOT NULL,
    total_amount numeric(15,2) NOT NULL,
    currency character varying(3) DEFAULT 'USD'::character varying NOT NULL,
    notes text,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.purchase_orders OWNER TO nevark;

--
-- Name: revenue_predictions; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.revenue_predictions (
    id uuid NOT NULL,
    period_start date NOT NULL,
    period_end date NOT NULL,
    predicted_amount numeric(15,2) NOT NULL,
    actual_amount numeric(15,2),
    confidence_score numeric(5,4),
    model_version character varying(50) NOT NULL,
    features jsonb,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.revenue_predictions OWNER TO nevark;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.role_permissions (
    role_id uuid NOT NULL,
    permission_id uuid NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO nevark;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.roles (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    description character varying(500),
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.roles OWNER TO nevark;

--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.user_roles (
    user_id uuid NOT NULL,
    role_id uuid NOT NULL
);


ALTER TABLE public.user_roles OWNER TO nevark;

--
-- Name: users; Type: TABLE; Schema: public; Owner: nevark
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    full_name character varying(255),
    is_verified boolean NOT NULL,
    last_login_at timestamp with time zone,
    avatar_url character varying(500),
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid,
    updated_by uuid
);


ALTER TABLE public.users OWNER TO nevark;

--
-- Data for Name: activity_logs; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.activity_logs (id, user_id, action, description, module, metadata, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: ai_chat_messages; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.ai_chat_messages (id, session_id, role, content, tokens_used, metadata, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: ai_chat_sessions; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.ai_chat_sessions (id, user_id, title, context, total_tokens, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.alembic_version (version_num) FROM stdin;
0005
\.


--
-- Data for Name: attendance; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.attendance (id, employee_id, date, check_in, check_out, status, work_hours, notes, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.audit_logs (id, user_id, action, table_name, record_id, old_values, new_values, ip_address, user_agent, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: client_contacts; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.client_contacts (id, client_id, first_name, last_name, email, phone, designation, is_primary, notes, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.clients (id, name, industry, website, email, phone, address, city, country, tax_id, notes, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: contract_risks; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.contract_risks (id, contract_id, title, description, severity, probability, mitigation, status, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: contracts; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.contracts (id, client_id, project_id, title, contract_number, status, start_date, end_date, value, currency, description, terms, document_url, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: nevark
--



--
-- Data for Name: document_categories; Type: TABLE DATA; Schema: public; Owner: nevark
--



--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.documents (id, category_id, uploaded_by, title, description, file_path, file_name, file_size, mime_type, related_type, related_id, version, tags, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: nevark
--



--
-- Data for Name: expenses; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.expenses (id, project_id, employee_id, approved_by, category, amount, currency, date, description, receipt_url, status, rejection_reason, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: finance_settings; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.finance_settings (id, is_active, deleted_at, created_at, updated_at, created_by, updated_by, company_name, company_address, company_email, company_phone, pan, company_gstin, state_code, cgst_rate, sgst_rate, igst_rate, bank_name, bank_account, bank_ifsc, bank_branch, invoice_prefix, default_sac, payment_terms, default_currency) FROM stdin;
\.


--
-- Data for Name: invoice_items; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.invoice_items (id, invoice_id, description, quantity, unit_price, amount, sort_order, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.invoices (id, client_id, project_id, invoice_number, status, issue_date, due_date, subtotal, tax_rate, tax_amount, discount_amount, total_amount, paid_amount, currency, notes, is_active, deleted_at, created_at, updated_at, created_by, updated_by, cgst_rate, sgst_rate, igst_rate, cgst_amount, sgst_amount, igst_amount, place_of_supply, gstin) FROM stdin;
\.


--
-- Data for Name: leave_requests; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.leave_requests (id, employee_id, approved_by, leave_type, start_date, end_date, days, reason, status, rejection_reason, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: milestones; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.milestones (id, project_id, title, description, due_date, completed_at, status, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.notifications (id, recipient_id, title, entity_type, entity_id, is_read, is_active, deleted_at, created_at, updated_at, created_by, updated_by, body) FROM stdin;
\.


--
-- Data for Name: payment_risk_predictions; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.payment_risk_predictions (id, invoice_id, risk_score, risk_level, predicted_delay_days, factors, model_version, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.payments (id, invoice_id, amount, payment_date, payment_method, reference, status, notes, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: nevark
--



--
-- Data for Name: po_items; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.po_items (id, po_id, description, quantity, unit_price, amount, unit, sort_order, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.products (id, is_active, deleted_at, created_at, updated_at, created_by, updated_by, name, product_code, category, stream, status, description, launch_date, revenue_generated, units_sold, active_units, total_customers, product_owner_id) FROM stdin;
\.


--
-- Data for Name: project_assignments; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.project_assignments (id, project_id, employee_id, role, assigned_at, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: project_delay_predictions; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.project_delay_predictions (id, project_id, risk_score, risk_level, predicted_delay_days, factors, model_version, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: project_tasks; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.project_tasks (id, project_id, parent_id, assignee_id, title, description, status, priority, due_date, estimated_hours, actual_hours, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.projects (id, client_id, name, code, description, status, priority, start_date, end_date, actual_end_date, budget, currency, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: purchase_orders; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.purchase_orders (id, po_number, vendor_name, vendor_email, vendor_phone, status, order_date, expected_delivery, actual_delivery, subtotal, tax_amount, total_amount, currency, notes, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: revenue_predictions; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.revenue_predictions (id, period_start, period_end, predicted_amount, actual_amount, confidence_score, model_version, features, is_active, deleted_at, created_at, updated_at, created_by, updated_by) FROM stdin;
\.


--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: nevark
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: nevark
--



--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: nevark
--

COPY public.user_roles (user_id, role_id) FROM stdin;
2a147bae-7324-4ef8-818f-c944b8e551a6	b7aa49b7-a7ff-44cc-82f9-13db3ffc3d17
083b111e-f305-4608-8ab4-6a0316572f9a	e4ae9724-ad20-4d43-bc33-01d233828a3e
97e09372-f416-47de-8bc4-1a80fe5b89c4	3e5aea6b-430b-4c4b-b22e-c5fefdec9007
d44e9b8e-2391-4caf-bfd5-bab59132181f	3c7a727a-9872-455c-b610-6471fec73364
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: nevark
--



--
-- Name: activity_logs activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_pkey PRIMARY KEY (id);


--
-- Name: ai_chat_messages ai_chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.ai_chat_messages
    ADD CONSTRAINT ai_chat_messages_pkey PRIMARY KEY (id);


--
-- Name: ai_chat_sessions ai_chat_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.ai_chat_sessions
    ADD CONSTRAINT ai_chat_sessions_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: attendance attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: client_contacts client_contacts_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.client_contacts
    ADD CONSTRAINT client_contacts_pkey PRIMARY KEY (id);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: contract_risks contract_risks_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.contract_risks
    ADD CONSTRAINT contract_risks_pkey PRIMARY KEY (id);


--
-- Name: contracts contracts_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_pkey PRIMARY KEY (id);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: document_categories document_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.document_categories
    ADD CONSTRAINT document_categories_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: expenses expenses_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_pkey PRIMARY KEY (id);


--
-- Name: finance_settings finance_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.finance_settings
    ADD CONSTRAINT finance_settings_pkey PRIMARY KEY (id);


--
-- Name: invoice_items invoice_items_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.invoice_items
    ADD CONSTRAINT invoice_items_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: leave_requests leave_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.leave_requests
    ADD CONSTRAINT leave_requests_pkey PRIMARY KEY (id);


--
-- Name: milestones milestones_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.milestones
    ADD CONSTRAINT milestones_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: payment_risk_predictions payment_risk_predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.payment_risk_predictions
    ADD CONSTRAINT payment_risk_predictions_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: po_items po_items_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.po_items
    ADD CONSTRAINT po_items_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: project_assignments project_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.project_assignments
    ADD CONSTRAINT project_assignments_pkey PRIMARY KEY (id);


--
-- Name: project_delay_predictions project_delay_predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.project_delay_predictions
    ADD CONSTRAINT project_delay_predictions_pkey PRIMARY KEY (id);


--
-- Name: project_tasks project_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.project_tasks
    ADD CONSTRAINT project_tasks_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: purchase_orders purchase_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_pkey PRIMARY KEY (id);


--
-- Name: revenue_predictions revenue_predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.revenue_predictions
    ADD CONSTRAINT revenue_predictions_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (role_id, permission_id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: contracts uq_contracts_number; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT uq_contracts_number UNIQUE (contract_number);


--
-- Name: departments uq_departments_name; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT uq_departments_name UNIQUE (name);


--
-- Name: document_categories uq_doc_categories_name_parent; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.document_categories
    ADD CONSTRAINT uq_doc_categories_name_parent UNIQUE (name, parent_id);


--
-- Name: employees uq_employees_code; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT uq_employees_code UNIQUE (employee_code);


--
-- Name: employees uq_employees_user_id; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT uq_employees_user_id UNIQUE (user_id);


--
-- Name: invoices uq_invoices_number; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT uq_invoices_number UNIQUE (invoice_number);


--
-- Name: permissions uq_permissions_codename; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT uq_permissions_codename UNIQUE (codename);


--
-- Name: products uq_products_code; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT uq_products_code UNIQUE (product_code);


--
-- Name: project_assignments uq_project_assignments_project_employee; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.project_assignments
    ADD CONSTRAINT uq_project_assignments_project_employee UNIQUE (project_id, employee_id);


--
-- Name: projects uq_projects_code; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT uq_projects_code UNIQUE (code);


--
-- Name: purchase_orders uq_purchase_orders_number; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT uq_purchase_orders_number UNIQUE (po_number);


--
-- Name: roles uq_roles_name; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT uq_roles_name UNIQUE (name);


--
-- Name: users uq_users_email; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uq_users_email UNIQUE (email);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_activity_logs_created_at; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_activity_logs_created_at ON public.activity_logs USING btree (created_at);


--
-- Name: ix_activity_logs_module; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_activity_logs_module ON public.activity_logs USING btree (module);


--
-- Name: ix_activity_logs_user_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_activity_logs_user_id ON public.activity_logs USING btree (user_id);


--
-- Name: ix_ai_chat_messages_session_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_ai_chat_messages_session_id ON public.ai_chat_messages USING btree (session_id);


--
-- Name: ix_ai_chat_sessions_user_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_ai_chat_sessions_user_id ON public.ai_chat_sessions USING btree (user_id);


--
-- Name: ix_attendance_date; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_attendance_date ON public.attendance USING btree (date);


--
-- Name: ix_attendance_employee_date; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_attendance_employee_date ON public.attendance USING btree (employee_id, date);


--
-- Name: ix_audit_logs_action; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_audit_logs_action ON public.audit_logs USING btree (action);


--
-- Name: ix_audit_logs_created_at; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_audit_logs_created_at ON public.audit_logs USING btree (created_at);


--
-- Name: ix_audit_logs_table_record; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_audit_logs_table_record ON public.audit_logs USING btree (table_name, record_id);


--
-- Name: ix_audit_logs_user_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_audit_logs_user_id ON public.audit_logs USING btree (user_id);


--
-- Name: ix_client_contacts_client_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_client_contacts_client_id ON public.client_contacts USING btree (client_id);


--
-- Name: ix_client_contacts_is_primary; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_client_contacts_is_primary ON public.client_contacts USING btree (is_primary);


--
-- Name: ix_clients_is_active; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_clients_is_active ON public.clients USING btree (is_active);


--
-- Name: ix_clients_name; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_clients_name ON public.clients USING btree (name);


--
-- Name: ix_contract_risks_contract_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_contract_risks_contract_id ON public.contract_risks USING btree (contract_id);


--
-- Name: ix_contract_risks_severity; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_contract_risks_severity ON public.contract_risks USING btree (severity);


--
-- Name: ix_contract_risks_status; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_contract_risks_status ON public.contract_risks USING btree (status);


--
-- Name: ix_contracts_client_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_contracts_client_id ON public.contracts USING btree (client_id);


--
-- Name: ix_contracts_end_date; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_contracts_end_date ON public.contracts USING btree (end_date);


--
-- Name: ix_contracts_project_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_contracts_project_id ON public.contracts USING btree (project_id);


--
-- Name: ix_contracts_status; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_contracts_status ON public.contracts USING btree (status);


--
-- Name: ix_departments_manager_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_departments_manager_id ON public.departments USING btree (manager_id);


--
-- Name: ix_departments_parent_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_departments_parent_id ON public.departments USING btree (parent_id);


--
-- Name: ix_document_categories_parent_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_document_categories_parent_id ON public.document_categories USING btree (parent_id);


--
-- Name: ix_documents_category_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_documents_category_id ON public.documents USING btree (category_id);


--
-- Name: ix_documents_related; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_documents_related ON public.documents USING btree (related_type, related_id);


--
-- Name: ix_documents_uploaded_by; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_documents_uploaded_by ON public.documents USING btree (uploaded_by);


--
-- Name: ix_employees_department_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_employees_department_id ON public.employees USING btree (department_id);


--
-- Name: ix_employees_employment_type; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_employees_employment_type ON public.employees USING btree (employment_type);


--
-- Name: ix_expenses_date; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_expenses_date ON public.expenses USING btree (date);


--
-- Name: ix_expenses_employee_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_expenses_employee_id ON public.expenses USING btree (employee_id);


--
-- Name: ix_expenses_project_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_expenses_project_id ON public.expenses USING btree (project_id);


--
-- Name: ix_expenses_status; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_expenses_status ON public.expenses USING btree (status);


--
-- Name: ix_invoice_items_invoice_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_invoice_items_invoice_id ON public.invoice_items USING btree (invoice_id);


--
-- Name: ix_invoices_client_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_invoices_client_id ON public.invoices USING btree (client_id);


--
-- Name: ix_invoices_due_date; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_invoices_due_date ON public.invoices USING btree (due_date);


--
-- Name: ix_invoices_project_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_invoices_project_id ON public.invoices USING btree (project_id);


--
-- Name: ix_invoices_status; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_invoices_status ON public.invoices USING btree (status);


--
-- Name: ix_leave_requests_dates; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_leave_requests_dates ON public.leave_requests USING btree (start_date, end_date);


--
-- Name: ix_leave_requests_employee_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_leave_requests_employee_id ON public.leave_requests USING btree (employee_id);


--
-- Name: ix_leave_requests_status; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_leave_requests_status ON public.leave_requests USING btree (status);


--
-- Name: ix_milestones_due_date; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_milestones_due_date ON public.milestones USING btree (due_date);


--
-- Name: ix_milestones_project_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_milestones_project_id ON public.milestones USING btree (project_id);


--
-- Name: ix_milestones_status; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_milestones_status ON public.milestones USING btree (status);


--
-- Name: ix_notifications_created_at; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_notifications_created_at ON public.notifications USING btree (created_at);


--
-- Name: ix_notifications_recipient_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_notifications_recipient_id ON public.notifications USING btree (recipient_id);


--
-- Name: ix_notifications_recipient_read; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_notifications_recipient_read ON public.notifications USING btree (recipient_id, is_read);


--
-- Name: ix_payment_risk_invoice_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_payment_risk_invoice_id ON public.payment_risk_predictions USING btree (invoice_id);


--
-- Name: ix_payment_risk_level; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_payment_risk_level ON public.payment_risk_predictions USING btree (risk_level);


--
-- Name: ix_payments_invoice_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_payments_invoice_id ON public.payments USING btree (invoice_id);


--
-- Name: ix_payments_payment_date; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_payments_payment_date ON public.payments USING btree (payment_date);


--
-- Name: ix_payments_status; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_payments_status ON public.payments USING btree (status);


--
-- Name: ix_permissions_module; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_permissions_module ON public.permissions USING btree (module);


--
-- Name: ix_po_items_po_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_po_items_po_id ON public.po_items USING btree (po_id);


--
-- Name: ix_products_category; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_products_category ON public.products USING btree (category);


--
-- Name: ix_products_owner_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_products_owner_id ON public.products USING btree (product_owner_id);


--
-- Name: ix_products_status; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_products_status ON public.products USING btree (status);


--
-- Name: ix_project_assignments_employee_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_project_assignments_employee_id ON public.project_assignments USING btree (employee_id);


--
-- Name: ix_project_delay_project_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_project_delay_project_id ON public.project_delay_predictions USING btree (project_id);


--
-- Name: ix_project_delay_risk_level; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_project_delay_risk_level ON public.project_delay_predictions USING btree (risk_level);


--
-- Name: ix_project_tasks_assignee_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_project_tasks_assignee_id ON public.project_tasks USING btree (assignee_id);


--
-- Name: ix_project_tasks_parent_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_project_tasks_parent_id ON public.project_tasks USING btree (parent_id);


--
-- Name: ix_project_tasks_project_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_project_tasks_project_id ON public.project_tasks USING btree (project_id);


--
-- Name: ix_project_tasks_status; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_project_tasks_status ON public.project_tasks USING btree (status);


--
-- Name: ix_projects_client_id; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_projects_client_id ON public.projects USING btree (client_id);


--
-- Name: ix_projects_priority; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_projects_priority ON public.projects USING btree (priority);


--
-- Name: ix_projects_status; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_projects_status ON public.projects USING btree (status);


--
-- Name: ix_purchase_orders_order_date; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_purchase_orders_order_date ON public.purchase_orders USING btree (order_date);


--
-- Name: ix_purchase_orders_status; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_purchase_orders_status ON public.purchase_orders USING btree (status);


--
-- Name: ix_revenue_predictions_period; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_revenue_predictions_period ON public.revenue_predictions USING btree (period_start, period_end);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_is_active; Type: INDEX; Schema: public; Owner: nevark
--

CREATE INDEX ix_users_is_active ON public.users USING btree (is_active);


--
-- Name: activity_logs activity_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: ai_chat_messages ai_chat_messages_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.ai_chat_messages
    ADD CONSTRAINT ai_chat_messages_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.ai_chat_sessions(id) ON DELETE CASCADE;


--
-- Name: ai_chat_sessions ai_chat_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.ai_chat_sessions
    ADD CONSTRAINT ai_chat_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: attendance attendance_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: client_contacts client_contacts_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.client_contacts
    ADD CONSTRAINT client_contacts_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.clients(id) ON DELETE CASCADE;


--
-- Name: contract_risks contract_risks_contract_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.contract_risks
    ADD CONSTRAINT contract_risks_contract_id_fkey FOREIGN KEY (contract_id) REFERENCES public.contracts(id) ON DELETE CASCADE;


--
-- Name: contracts contracts_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.clients(id) ON DELETE RESTRICT;


--
-- Name: contracts contracts_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE SET NULL;


--
-- Name: departments departments_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.departments(id) ON DELETE SET NULL;


--
-- Name: document_categories document_categories_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.document_categories
    ADD CONSTRAINT document_categories_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.document_categories(id) ON DELETE SET NULL;


--
-- Name: documents documents_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.document_categories(id) ON DELETE SET NULL;


--
-- Name: documents documents_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: employees employees_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE SET NULL;


--
-- Name: employees employees_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: expenses expenses_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: expenses expenses_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE RESTRICT;


--
-- Name: expenses expenses_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE SET NULL;


--
-- Name: departments fk_departments_manager_id; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT fk_departments_manager_id FOREIGN KEY (manager_id) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: invoice_items invoice_items_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.invoice_items
    ADD CONSTRAINT invoice_items_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoices(id) ON DELETE CASCADE;


--
-- Name: invoices invoices_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.clients(id) ON DELETE RESTRICT;


--
-- Name: invoices invoices_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE SET NULL;


--
-- Name: leave_requests leave_requests_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.leave_requests
    ADD CONSTRAINT leave_requests_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: leave_requests leave_requests_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.leave_requests
    ADD CONSTRAINT leave_requests_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- Name: milestones milestones_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.milestones
    ADD CONSTRAINT milestones_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (recipient_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: payment_risk_predictions payment_risk_predictions_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.payment_risk_predictions
    ADD CONSTRAINT payment_risk_predictions_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoices(id) ON DELETE CASCADE;


--
-- Name: payments payments_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoices(id) ON DELETE RESTRICT;


--
-- Name: po_items po_items_po_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.po_items
    ADD CONSTRAINT po_items_po_id_fkey FOREIGN KEY (po_id) REFERENCES public.purchase_orders(id) ON DELETE CASCADE;


--
-- Name: products products_product_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_product_owner_id_fkey FOREIGN KEY (product_owner_id) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: project_assignments project_assignments_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.project_assignments
    ADD CONSTRAINT project_assignments_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- Name: project_assignments project_assignments_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.project_assignments
    ADD CONSTRAINT project_assignments_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: project_delay_predictions project_delay_predictions_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.project_delay_predictions
    ADD CONSTRAINT project_delay_predictions_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: project_tasks project_tasks_assignee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.project_tasks
    ADD CONSTRAINT project_tasks_assignee_id_fkey FOREIGN KEY (assignee_id) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: project_tasks project_tasks_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.project_tasks
    ADD CONSTRAINT project_tasks_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.project_tasks(id) ON DELETE SET NULL;


--
-- Name: project_tasks project_tasks_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.project_tasks
    ADD CONSTRAINT project_tasks_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: projects projects_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.clients(id) ON DELETE SET NULL;


--
-- Name: role_permissions role_permissions_permission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES public.permissions(id) ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nevark
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict cWjKkF44N3rywCthD0ES2ypO3CMt3TyYcRaJTrIjVdkeX2nzObp9Jm9zpqe3cSt

